/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAV     1
#define CLC     2
#define SYM     3
#define FUN     4

&sk {
    quick-release;
    lazy;
};

/ {        
        keymap {
        compatible = "zmk,keymap";

                //Gallium V2
                default_layer {
                        bindings = <
                //   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //   |          │  B       │  L       │  D       │  C       │  V       │                         │  J       │  F       │  O       │  U       │  ,       │          │
                        &none      &kp B      &kp L      &kp D      &kp C      &kp V                                &kp J      &kp F      &kp O      &kp U     &kp COMMA   &none
                //   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  N       │  R       │  T       │  S       │  G       │                         │  Y       │  H       │  A       │  E       │  I       │          │
                        &none      &kp N      &kp R      &kp T      &kp S      &kp G                                &kp Y      &kp H      &kp A      &kp E      &kp I      &none 
                //   ├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  X       │  Q       │  M       │  W       │  Z       │                         │  K       │  P       │  '       │  ;       │  .       │          |
                        &none      &kp X      &kp Q      &kp M      &kp W      &kp Z                                &kp K      &kp P      &kp SQT    &kp SEMI   &kp DOT    &none
                //   ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┼──────────╮   ╭──────────┼──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                //                                               │  SHIFT   │  SPACE   │  TAB     │   │  ENTER   │  BkSPC   │  DEL     │
                                                                &kp LSHIFT &lt NAV SPACE &lt CLC TAB  &lt FUN RET &lt SYM BSPC &kp DEL
                //                                               ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                navigation_layer {
                        bindings = <
                //   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //   |          │  ESC     │          │ PREV TAB │ NEXT TAB │          │                         │  PGUP    │  HOME    │  ↑       │  END     │  CAPS    │          │
                        &none      &kp ESC    &none &kp LC(LS(TAB)) &kp LC(TAB) &none                              &kp PG_UP  &kp HOME    &kp UP     &kp END   &kp CAPS    &none
                //   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  GUI     │  ALT     │  CTRL    │  SHIFT   │          │                         │  PGDOWN  │  ←       │  ↓       │  →       │          │          │
                        &none     &sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT   &none                               &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT   &none      &none 
                //   ├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  BT 0    │  BT 1    │  BT 2    │  BT 3    │ BT CLEAR │                         │  INSERT  │  PSCRN   │  APP     │  PAUSE   │          │          |
                        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR                        &kp INS  &kp PSCRN &kp K_APP &kp PAUSE_BREAK &none     &none
                //   ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┼──────────╮   ╭──────────┼──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                //                                               │          │  X       │          │   │  ENTER   │  BkSPC   │  DEL     │
                                                                    &none      &none      &none          &kp RET   &kp BSPC    &kp DEL
                //                                               ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                calc_layer {
                        bindings = <
                //   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //   |          │          │          │          │          │          │                         │  =       │  7       │  8       │  9       │  +       │          │
                        &none      &none      &none      &none      &none      &none                               &kp EQUAL   &kp N7     &kp N8     &kp N9    &kp PLUS    &none
                //   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  GUI     │  ALT     │  CTRL    │  SHIFT   │          │                         │  *       │  4       │  5       │  6       │  -       │          │
                        &none     &sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT   &none                               &kp STAR    &kp N4     &kp N5     &kp N6    &kp MINUS   &none 
                //   ├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │          │          │          │          │          │                         │  0       │  1       │  2       │  3       │  /       │          |
                        &none      &none      &none      &none      &none      &none                                &kp N0     &kp N1     &kp N2     &kp N3    &kp FSLH    &none
                //   ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┼──────────╮   ╭──────────┼──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                //                                               │          │          │  X       │   │  ENTER   │  BkSPC   │  DEL     │
                                                                    &none      &none      &none          &kp RET   &kp BSPC    &kp DEL
                //                                               ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                symbols_layer {
                        bindings = <
                //   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //   |          │  !       │  @       │  #       │  $       │  %       │                         │  *       │  -       │  _       │  ~       │  `       │          │
                        &none     &kp EXCL    &kp AT    &kp HASH   &kp DLLR   &kp PRCNT                            &kp STAR  &kp MINUS   &kp UNDER  &kp TILDE  &kp GRAVE   &none
                //   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  GUI     │  ALT     │  CTRL    │  SHIFT   │  ^       │                         │  :       │  (       │  {       │  [       │  <       │          │
                        &none     &sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT  &kp CARET                            &kp COLON  &kp LPAR   &kp LBRC   &kp LBKT    &kp LT     &none 
                //   ├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │          │  /       │  |       │  \       │  &       │                         │  ?       │  )       │  }       │  ]       │  >       │          |
                        &none      &none     &kp FSLH   &kp PIPE   &kp NUBS   &kp AMPS                             &kp QMARK  &kp RPAR   &kp RBRC   &kp RBKT    &kp GT     &none
                //   ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┼──────────╮   ╭──────────┼──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                //                                               │          │          │          │   │          │  X       │          │
                                                                    &none      &none      &none          &none      &none      &none
                //                                               ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                function_layer {
                        bindings = <
                //   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                //   |          │  STOP    │ PREVIOUS │  PLAY    │  NEXT    │ BRIGHTUP │                         │  F12     │  F7      │  F8      │  F9      │          │          │
                        &none    &kp C_STOP &kp C_PREV  &kp C_PP  &kp C_NEXT &kp C_BRI_UP                           &kp F12    &kp F7     &kp F8     &kp F9     &none      &none
                //   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │  GUI     │  ALT     │  CTRL    │  SHIFT   │ BRIGHTDN │                         │  F11     │  F4      │  F5      │  F6      │          │          │
                        &none     &sk LGUI   &sk LALT   &sk LCTRL  &sk LSHFT &kp C_BRI_DN                           &kp F11    &kp F4     &kp F5     &kp F6     &none      &none 
                //   ├──────────├──────────┼──────────┼──────────┼──────────┼──────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                //   |          │          │  MUTE    │  VOL DWN │  VOL UP  │          │                         │  F10     │  F1      │  F2      │  F3      │          │          |
                        &none      &none    &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none                              &kp F10    &kp F1     &kp F2     &kp F3     &none      &none
                //   ╰──────────┴──────────┴──────────┴──────────┼──────────┼──────────┼──────────╮   ╭──────────┼──────────┼──────────┼──────────┴──────────┴──────────┴──────────╯
                //                                               │          │          │          │   │  X       │          │          │
                                                                    &none      &none      &none          &none      &none      &none
                //                                               ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };
        };
};
